<%= @tweet.content %>

<a href="/tweets/<%= @tweet.id %>/edit">Edit This Tweet</a>

<form action="/tweets/:id/delete" method="POST">
  <input type="hidden" name="_method" id="hidden" value="delete" />
  <input type="submit" value="Delete" />
</form>