<h1><%= @user.username %></h1>

<% @user.tweets.each do |t| %>
<li><a href="/tweets/<%= t.id %>"><%= t.content %></a></li>
<% end %>

<form action="/logout" method="POST">
  <label>Log Out: </label>
  <input type="submit" id="submit" value="submit" />
</form>