<h1>Welcome, <%= @user.username %></h1>

<% @tweets.each do |t| %>
<a href="/tweets/<%= t.id %>"><%= t.content %></a>
<% end %>

<form action="/logout" method="POST">
  <label>Log Out: </label>
  <input type="submit" id="submit" value="submit" />
</form>